@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400&display=swap');
.ui.small.image.logo {
  min-width: 200px;
  height: 65px;
  margin: 0 auto;
}
.home__opening {
  width: 100%;
  height: 100vh;
  padding-top: 10rem;
}
.ui.segment.opening-title.title {
  margin-top: 30rem;
  margin-left: 30rem;
  width: fit-content;
}
.home::after {
  content: '';
  background: url('https://images.unsplash.com/photo-1578030011717-592b32b82ff3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')
    fixed top center / cover no-repeat;
  opacity: 0.8;
  top: 6rem;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.menu__logo-container {
  position: fixed;
  width: 100%;
  padding: 0.5rem 0;
  background-color: #ddd2c3;
  z-index: 100;
}
.menu__logo-container::after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translate(-50%);
  background-color: #767864;
}
.ui.stackable.green.inverted.labeled.menu {
  top: 5.5rem;
  font-family: 'Merriweather', serif;
  font-weight: 300;
}
.circular.ui.button.menu__burger-btn {
  display: none;
  position: absolute;
  top: 20px;
  right: 5px;
}
@media screen and (max-width: 767px) {
  .ui.stackable.green.inverted.labeled.menu .item {
    text-align: center;
  }
  .circular.ui.icon.button.menu__burger-btn {
    display: block;
  }
  .ui.stackable.green.inverted.labeled.menu {
    height: 2.9rem;
    overflow: hidden;
    animation: slide 1s ease-in-out 3.5s;
    transition: 0.3s;
  }
  .ui.stackable.green.inverted.labeled.menu.off {
    height: 25rem;
    animation: slide 1s ease-in-out 3.5s;
    transition: 0.3s;
  }
  @keyframes slide {
    from {
      height: 2.9rem;
    }
    to {
      height: 25rem;
    }
  }
  .bars.icon.off {
    display: none;
  }
  .close.icon.off {
    display: none;
  }
  .home::after {
    top: 4.8rem;
  }
}

/* .ui.inverted.green.menu {
  background-color: #f4f1ea;
  margin: 0;
} */
.nav__icon {
  cursor: pointer;
  transition: 0.3s;
}
.nav__icon:hover {
  color: #e79796;
}

.ui.container:first-child {
  padding: 8rem 0 1rem 0;
}
.ui.container h1 {
  padding: 2rem 0rem 1rem 0rem;
}

h1 {
  color: #444c38;
  text-align: center;
}
h2,
h3 {
  color: #767864;
}

/* .ui.container.productList__shop {
  text-align: center;
  padding-top: 0rem;
} */
.productList__ask {
  text-align: center;
  padding-top: 2rem;
}
.productList__contact {
  display: flex;
  justify-content: center;
  margin: 1rem 0rem 2rem 0rem;
}

.productCard__caption {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0;
}
.description {
  padding: 10px;
}
.productCard__desc-btn {
  border: 1px solid #ddd2c3;
  border-radius: 5px;
}
.productCard__price {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.productDetails__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.context-delivery {
  background-color: #f4f1ea;
  padding: 2rem 0;
}
.context__flex {
  display: flex;
  align-items: center;
}
.ui.bulleted.list {
  margin: 0;
}
i.recycle.big.green.icon {
  margin-right: 2rem;
}
.context__img {
  border-radius: 5px;
  box-shadow: 5px 5px 5px darkgrey;
  margin: 2rem 0;
}
.ui.centered.card.delivery__card {
  margin-top: 0.6rem;
  font-size: 0.9rem;
}
.delivery_msg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.delivery_msg p {
  margin: 0 1rem;
}
.delivery__time {
  text-align: center;
}
.deliveryCities {
  margin: 0.5rem 0;
}
.deliveryTime {
  display: flex;
  align-items: center;
}

.ui.grid.productForm__container {
  padding-top: 10rem;
}

/* .shop__container {
  background-color: #f4f1ea;
} */

.articles__img {
  margin: 3rem 0;
}
hr {
  width: 80%;
  margin: 3rem auto;
}
