@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400&display=swap');
/* GENERAL SETTINGS */
.ui.container {
  padding: 1rem 0 1rem 0;
}
.ui.container h1 {
  padding: 2rem 0rem 3rem 0rem;
}

h1,
h1.ui.header {
  color: #444c38;
  text-align: center;
}
h1::after,
.ui.container.productList__shop h2::after {
  content: '';
  display: block;
  width: 6rem;
  height: 1px;
  position: relative;
  top: 1rem;
  left: 50%;
  transform: translate(-50%);
  background-color: #767864;
}
h2,
h3 {
  color: #767864;
}
hr {
  width: 80%;
  height: 1px;
  margin: 3rem auto;
}
/* GENERAL SETTINGS END */

/* NAVBAR */
.navbar {
  height: 8rem;
}
.navbar__container {
  position: fixed;
  width: 100%;
  height: fit-content;
  z-index: 100;
}
.menu__logo-container {
  padding: 0.5rem 0;
  background-color: #ddd2c3;
}
.menu__logo-container::after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translate(-50%);
  background-color: #767864;
}
.ui.small.image.logo {
  min-width: 200px;
  height: 65px;
  margin: 0 auto;
}
.ui.stackable.green.inverted.menu {
  margin-top: 0;
  top: 5.5rem;
  font-family: 'Merriweather', serif;
  font-weight: 300;
}
.circular.ui.button.menu__burger-btn {
  display: none;
  position: absolute;
  top: 20px;
  right: 5px;
}
@media screen and (max-width: 767px) {
  .ui.stackable.green.inverted.menu .item {
    text-align: center;
  }
  .circular.ui.icon.button.menu__burger-btn {
    display: block;
  }
  .ui.stackable.green.inverted.menu {
    height: 2.9rem;
    overflow: hidden;
    animation: slide 1s ease-in-out 3.5s;
    transition: 0.3s;
  }
  .ui.stackable.green.inverted.menu.invisible {
    height: 24rem;
    animation: slide 1s ease-in-out 3.5s;
    transition: 0.3s;
  }
  @keyframes slide {
    from {
      height: 2.9rem;
    }
    to {
      height: 24rem;
    }
  }
  .bars.icon.invisible {
    display: none;
  }
  .close.icon.invisible {
    display: none;
  }
}
.nav__icon {
  cursor: pointer;
  transition: 0.3s;
}
.nav__icon:hover {
  color: #e79796;
}
/* NAVBAR END */

/* HOME PAGE */
.home__opening {
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home::after {
  content: '';
  background: url('https://images.unsplash.com/photo-1578030011717-592b32b82ff3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')
    fixed top center / cover no-repeat;
  opacity: 0.8;
  top: 6rem;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.home__opening h3 {
  font-style: italic;
  color: #444c38;
}
.ui.stackable.center.aligned.segment.title {
  background-color: rgba(244, 241, 234, 0.6);
  max-width: 35rem;
  padding: 2rem 1rem;
}

/* HOME PAGE END */

/* PRODUCT LIST */
.ui.container.productList__shop {
  text-align: center;
}
.productList__ask {
  text-align: center;
  padding-top: 2rem;
}
.productList__contact {
  display: flex;
  justify-content: center;
  margin: 2rem 0rem 2rem 0rem;
}
.productList__pres {
  padding-top: 1rem;
}
.ui.container.productList__shop h2 {
  padding: 1rem 0 2rem 0;
}

/* PRODUCT LIST END */

/* PRODUCT CARD */
.productCard__caption {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0;
}
.description {
  padding: 10px;
}
.productCard__desc-btn {
  border: 1px solid #ddd2c3;
  border-radius: 5px;
}
.productCard__price {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.ui.cards > .card > .image > img,
.ui.card > .image > img {
  /* min-height: 350px; */
  width: auto;
}
.ui.dropdown.product_select {
  color: #767864;
}
.ui.card > .content > a.header {
  color: rgba(118, 120, 100, 0.8) !important;
}
/* PRODUCT CARD END */

/* PRODUCT-FORM */
.ui.grid.productForm__container {
  padding-top: 4em;
}
/* PRODUCT-FORM END */

/* PRODUCT DETAILS */
.productDetails__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ui.center.aligned.dividing.header {
  padding: 2rem 0;
  margin-top: 2rem;
}
.productDetails__img {
  border-radius: 5px;
  box-shadow: 5px 5px 5px darkgrey;
}
/* PRODUCT DETAILS END */

/* CONTEXT-DELIVERY */
.context-delivery {
  background-color: #f4f1ea;
  padding: 2rem 0;
}
.context__flex {
  display: flex;
  align-items: center;
}
.ui.bulleted.list {
  margin: 0;
}
i.recycle.big.green.icon {
  margin-right: 2rem;
}
.context__img {
  border-radius: 5px;
  box-shadow: 5px 5px 5px darkgrey;
  margin: 2rem 0;
}
.ui.centered.card.delivery__card {
  margin-top: 0.6rem;
  font-size: 0.9rem;
}
.delivery_msg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.delivery_msg p {
  margin: 0 1rem;
}
.delivery__time {
  text-align: center;
}
.deliveryCities {
  margin: 0.5rem 0;
}
.deliveryTime {
  display: flex;
  align-items: center;
}
/* CONTEXT-DELIVERY END */

/* ARTICLES */
.articles__img {
  margin: 3rem 0;
  border-radius: 5px;
  box-shadow: 5px 5px 5px darkgrey;
}
.ui.container h1.articles__title {
  margin-top: 2rem;
}
.pro {
  background-color: #f4f1ea;
}

.ui.stackable.grid.articles > .column:not(.row),
.ui.grid > .row > .column.articles {
  display: flex;
  justify-content: center;
}

.container.wedding {
  margin: 3rem 4rem;
}

.column.wedding {
  padding: 5rem 0;
  justify-content: center;
  align-items: center;
}
.wedding-flex {
  display: flex;
  justify-content: space-between;
}
.wedding-flex .five.wide.column {
  width: 48%;
}
.middle {
  margin: 2rem 0;
}

@media screen and (max-width: 767px) {
  .container.wedding {
    margin: 3rem 0.5rem;
  }
  .wedding-flex {
    flex-direction: column;
  }
  .wedding-flex .five.wide.column {
    width: 100%;
  }
  .wedding-flex .five.wide.column:first-child {
    margin-bottom: 2rem;
  }
}

/* ARTICLES END */
