.row {
    display: flex;
position: absolute;
bottom: 0;
background-color: #dce6e5;
width: 100%;
height: 100px;
filter: opacity(0,33);
opacity: 0.77;
  }
.social-icon
  .icons {
display: flex;
justify-content: center;
flex:auto;
align-items: center;
  }

  .two {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-end;
    margin-right: 15px;
  
  }

  .one {
    display: flex;
    flex-direction: column;
margin-left: 15px;
align-self: center;

  }
 
   
  a {
    color: #1f736d;
 
  }
  .titre {
    text-align: center;
    display: flex;
justify-content: center;
flex-direction: column;
flex:auto;


  }